extends layout

block content
  br
  div.text-center
    h1 三味书屋
    p 三味书屋的第一条规则就是别谈论三味书屋
  div.container
    h2 我们做什么
    div.row
      div.col-sm 在线管理你的图书
      div.col-sm 查看所有的图书
      div.col-sm 借阅图书
      div.col-sm 管理图书借阅