extends layout

block content
  br
  div.container
    h3 注册
    form(method='post')
      div.form-group
        label(for='email') 邮箱
        input.form-control#email(type='email' name='email' placeholder='输入邮箱地址')
      div.form-group
        label(for='passwor') 密码
        input.form-control#password(type='text' name='password' placeholder='输入密码')
      button.btn.btn-primary(type='submit') 提交
    br